@import 'import/functions.styl'
@import 'import/colors.styl'
@import 'import/design.styl'
@import 'import/plugins.styl'

@import 'import/fonts.styl'

@import 'import/global.styl'


@import 'import/booking.styl'
@import 'import/page.styl'
@import 'import/index.styl'
@import 'import/toolbar.styl'
@import 'import/sidebar.styl'
@import 'import/footer.styl'

@import 'import/slider.styl'

@import 'import/prices.styl'
@import 'import/rooms.styl'
@import 'import/search.styl'
@import 'import/licenses.styl'
@import 'import/news.styl'
@import 'import/offers.styl'
