include includes/header
<body class="half">
- var activeItem = 3
include includes/toolbar
include includes/sidebar
a.page__trigger.page__trigger--left(href="#")
    span.left
        include ../../public_html/layout/images/svg/left.svg
    span.right
        include ../../public_html/layout/images/svg/right.svg

header.header.visible-xs(style="background-image: url(/layout/images/img-2.jpg)")
    .header__title 
        span Об отеле
    a.header__button(href="/buy.html") Забронировать номер


.page.page--half

    .page__content
        h1.page__title.hidden-xs Об отеле
        .text
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.

            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.

            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.

            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.

            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.

            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 


include includes/slider

include includes/footer
