include includes/header
<body class="half" style="background-image: url(/layout/images/img-1.jpg)">
- var activeItem = 2
- var href = "/layout/images/img-1.jpg"
include includes/toolbar
include includes/sidebar
a.page__trigger.page__trigger--left(href="#")
    span.left
        include ../../public_html/layout/images/svg/left.svg
    span.right
        include ../../public_html/layout/images/svg/right.svg

.page.page--half
    .page__content
        nav.page__nav.nav
            a.nav__item(href="#") Standart Suite
            a.nav__item.nav__item--active(href="#") Standart Deluxe
            a.nav__item(href="#") Surerior Deluxe
            a.nav__item(href="#") Superior Suite Deluxe
            a.nav__item(href="#") Royal Deluxe
        h1.page__title Standart Deluxe
        .booking
            form.booking__form.clearfix
                .row
                    .col-sm-6
                        label.booking__label Прибытие
                        input.booking__date(type="text", placeholder="", maxlength="10")
                        a.booking__cal(href="#")
                            include ../../public_html/layout/images/svg/cal.svg
                    .col-sm-6
                        label.booking__label Выезд
                        input.booking__date(type="text", placeholder="", maxlength="10")
                        a.booking__cal(href="#")
                            include ../../public_html/layout/images/svg/cal.svg
                    .col-sm-6
                        label.booking__label Взрослые
                        input.booking__number(type="text", placeholder="", value="1")
                    .col-sm-6
                        label.booking__label Дети
                        input.booking__number(type="text", placeholder="")
                    .col-sm-6
                        label.booking__label Эл. почта
                        input.booking__text(type="text", placeholder="", value="")
                    .col-sm-6
                        label.booking__label Телефон
                        input.booking__text(type="text", placeholder="")
                    .col-sm-6
                        label.booking__label имя
                        input.booking__text(type="text", placeholder="", value="")
                    .col-sm-6
                        label.booking__label фамилия
                        input.booking__text(type="text", placeholder="")
                    .col-sm-12
                        label.booking__label пожелания
                        textarea.booking__textarea
                    .col-sm-12
                        .xl-margin-top.full-width
                            .row
                                .col-sm-6
                                    button.booking__submit(type="submit") Забронировать
                                .col-sm-6.center.sm-left
                                    .booking__total 
                                        span Итого 
                                        | 26 758 руб.
        
style.
    .footer .booking { display: none }
include includes/footer
