include includes/header
<body class="half">
- var activeItem = 3
include includes/toolbar
include includes/sidebar
a.page__trigger.page__trigger--left(href="#")
    span.left
        include ../../public_html/layout/images/svg/left.svg
    span.right
        include ../../public_html/layout/images/svg/right.svg

header.header.visible-xs(style="background-image: url(/layout/images/img-2.jpg)")
    .header__title 
        span Standart Suite Room
    a.header__button(href="/buy.html") Забронировать номер

.page.page--half

    .page__content
        nav.page__nav.nav.hidden-xs
            a.nav__item(href="#") Standart Suite
            a.nav__item(href="#") Standart Deluxe
            a.nav__item(href="#") Surerior Deluxe
            a.nav__item.nav__item--active(href="#") Superior Suite Deluxe
            a.nav__item(href="#") Royal Deluxe
            
        h1.page__title.hidden-xs Standart Suite Room
        .text
            h2 Заголовок второго уровня
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.

            .text__table
                .row
                    .col-sm-6
                        strong Приблизительная площадь 
                        br 
                        | 23 м
                        sup 2
                    .col-sm-6
                        strong Приблизительная площадь 
                        br 
                        | 23 м
                        sup 2    
                .row
                    .col-sm-6
                        strong Приблизительная площадь 
                        br 
                        | 23 м
                        sup 2
            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.
                a(href="#") Тестовая ссылка

            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 
            h3 Заголовок третьего уровня
            ul
                li Список
                li Список
                li Список
                li Список
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.

            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.

            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 
            p Уникальный отель, расположенный на побережье Турции, в одном из самых прстижных зон на полуострове в районе Ялыквак.

            p Бордумский полуостров – излюбленное место отдыха турецкой элиты, в числе которых художники и музыканты, прлитики и бизнесмены. Кроме того, это – самый популряный курорт среди европейских туристов, предлагающий соответствующий уровень комфорта и обслуживания, а также многочисленные возможности как для молодежного, так и для семейного отдыха. 
        .xxl-margin-top
            a.button(href="/buy.html") Забронировать

include includes/slider

include includes/footer
