include includes/header
<body class="no-padding-top half">
- var activeItem = 3
include includes/toolbar
include includes/sidebar
header.header.visible-xs(style="background-image: url(#{href})")
    .header__title Поиск
    a.header__button(href="/buy.html") Забронировать номер
.page

    .page__content
        h1.page__title.hidden-xs Поиск
        .search
            .search__item
                a.search__title(href="#") Добавили пакет документов для юридических лиц
                p Прием платежей в следующих валютах: Доллары США, канадские доллары, австралийские доллары, евро, английские фунты стерлингов, японские йены, новозеландские доллары, швейцарские франки, гонконгские доллары, сингапурские доллары, шведские кроны, датские кроны, польские злотые, норвежские кроны, венгерские форинты, чешские кроны, израильские новые шекели, бразильские реалы (только для пользователей в Бразилии), малайзийские ринггиты (только для пользователей в Малайзии)
            .search__item
                a.search__title(href="#") Добавили пакет документов для юридических лиц
                p Прием платежей в следующих валютах: Доллары США, канадские доллары, австралийские доллары, евро, английские фунты стерлингов, японские йены, новозеландские доллары, швейцарские франки, гонконгские доллары, сингапурские доллары, шведские кроны, датские кроны, польские злотые, норвежские кроны, венгерские форинты, чешские кроны, израильские новые шекели, бразильские реалы (только для пользователей в Бразилии), малайзийские ринггиты (только для пользователей в Малайзии)

            .search__item
                a.search__title(href="#") Добавили пакет документов для юридических лиц
                p Прием платежей в следующих валютах: Доллары США, канадские доллары, австралийские доллары, евро, английские фунты стерлингов, японские йены, новозеландские доллары, швейцарские франки, гонконгские доллары, сингапурские доллары, шведские кроны, датские кроны, польские злотые, норвежские кроны, венгерские форинты, чешские кроны, израильские новые шекели, бразильские реалы (только для пользователей в Бразилии), малайзийские ринггиты (только для пользователей в Малайзии)
            .search__item
                a.search__title(href="#") Добавили пакет документов для юридических лиц
                p Прием платежей в следующих валютах: Доллары США, канадские доллары, австралийские доллары, евро, английские фунты стерлингов, японские йены, новозеландские доллары, швейцарские франки, гонконгские доллары, сингапурские доллары, шведские кроны, датские кроны, польские злотые, норвежские кроны, венгерские форинты, чешские кроны, израильские новые шекели, бразильские реалы (только для пользователей в Бразилии), малайзийские ринггиты (только для пользователей в Малайзии)
            .search__item
                a.search__title(href="#") Добавили пакет документов для юридических лиц
                p Прием платежей в следующих валютах: Доллары США, канадские доллары, австралийские доллары, евро, английские фунты стерлингов, японские йены, новозеландские доллары, швейцарские франки, гонконгские доллары, сингапурские доллары, шведские кроны, датские кроны, польские злотые, норвежские кроны, венгерские форинты, чешские кроны, израильские новые шекели, бразильские реалы (только для пользователей в Бразилии), малайзийские ринггиты (только для пользователей в Малайзии)
            .search__item
                a.search__title(href="#") Добавили пакет документов для юридических лиц
                p Прием платежей в следующих валютах: Доллары США, канадские доллары, австралийские доллары, евро, английские фунты стерлингов, японские йены, новозеландские доллары, швейцарские франки, гонконгские доллары, сингапурские доллары, шведские кроны, датские кроны, польские злотые, норвежские кроны, венгерские форинты, чешские кроны, израильские новые шекели, бразильские реалы (только для пользователей в Бразилии), малайзийские ринггиты (только для пользователей в Малайзии)
        .pages.center
            a.pages__item.pages__item--active(href="#") 1
            a.pages__item(href="#") 2
            a.pages__item(href="#") 3
            a.pages__item(href="#") 4
            a.pages__item(href="#") 5

include includes/footer
