.ps-container, .ps-container:hover, .ps-container.ps-in-scrolling
	> .ps-scrollbar-y-rail
		right 0px !important
		background transparent
		opacity 1
		border-radius 0
		width 4px
		t height
		.dropdown__frame&
			background transparent
		.catalog &
			@media (max-width: scr_lg)
				right 7px !important
		>.ps-scrollbar-y
			opacity 1
			t height
			right 0px
			width 4px
			border-radius 0
			background-color blue !important
			.dropdown &
				background-color blue2 !important

.fotorama__arr
	size 46px
	margin-top -23px
	&--prev
		background url("/layout/images/svg/left.svg") center center no-repeat
		background-size contain
	&--next
		background url("/layout/images/svg/right.svg") center center no-repeat
		background-size contain

.datepicker
	position absolute
	background-color white
	padding 20px
	border 1px solid gray
	font-size 12px
	z-index 10000 !important
	border-radius 0
	table tr td.active, table tr td.active:hover, table tr td.active.disabled, table tr td.active.disabled:hover
		background blue
	td, th
		border-radius 0
		padding: 5px 2px 0px
